body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    background: #fff;
    color: #222;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 40px;
    background: #fff;
}

.team-name {
    font-size: 28px;
    font-weight: bold;
    color: #2e2e72;
}

.main-nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    border: 1px solid #444;
    background: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    padding: 40px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.member-form {
    max-width: 400px;
    margin: 0 auto;
}


label {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.member-info-box {
    background: #eee;
    padding: 20px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.6;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn-submit,
.btn-cancel {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-submit {
    background-color: #eaf1f8;
    color: #0b6b3c;
    font-weight: bold;
}

.btn-cancel {
    background-color: #f2f2f2;
    color: red;
    font-weight: bold;
}

.footer {
    background: #1e3a56;
    color: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}