<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all_list.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>3조 Main</title>
</head>
<body>
    {% include 'components/nav.html' %}

    <main>
        
    <section class="status-cards">
    <div class="card">
      <p>진행 완료</p>
      <h2>4</h2>
    </div>
    <div class="card active">
      <p>진행 중</p>
      <h2>2</h2>
    </div>
    <div class="card">
      <p>진행 대기</p>
      <h2>2</h2>
    </div>
</section>
<button class="add-btn">＋ 프로젝트 추가</button>

  <section class="project-table">
    <table>
      <thead>
        <tr>
          <th>프로젝트명</th>
          <th>클라이언트</th>
          <th>담당자명</th>
          <th>시작일</th>
          <th>마감일</th>
          <th>진행 상태</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UI 디자인</td>
          <td>PI Company</td>
          <td>홍길동</td>
          <td>2025-06-05</td>
          <td>2025-06-24</td>
          <td><span class="status in-progress">● 진행 중</span></td>
        </tr>
        <tr>
          <td>백 엔드 API</td>
          <td>DJ Holdings</td>
          <td>김길동</td>
          <td>2025-06-10</td>
          <td>2025-06-26</td>
          <td><span class="status in-progress">● 진행 중</span></td>
        </tr>
        <tr>
          <td>백 오피스 구축</td>
          <td>AS Holdings</td>
          <td>홍길동</td>
          <td>2025-06-25</td>
          <td>2025-07-11</td>
          <td><span class="status pending">● 진행 대기</span></td>
        </tr>
        <tr>
          <td>UI/UX 피드백 반영</td>
          <td>KK Company</td>
          <td>박길동</td>
          <td>2025-06-30</td>
          <td>2025-07-03</td>
          <td><span class="status pending">● 진행 대기</span></td>
        </tr>
      </tbody>
    </table>
  </section>
    </main>

    {% include 'components/footer.html' %}
</body>
</html>
