<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/freeboard_insert.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>3조 Main</title>
</head>
<body>
    {% include 'components/nav.html' %}

    <main>
      <div class="main-title">글 작성하기</div>

  <div class="form-container">
    <!-- ✅ 여기서 수정: insert_action → freeboard_insert_action -->
    <form action="/board_insert" method="post">
      <label for="title">제목</label>
      <input type="text" id="title" name="title" placeholder="제목을 입력하세요">

      <label for="content">내용</label>
      <textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea>

      <div class="btn-box">
        <button type="submit" class="btn">등록</button>
        <button type="button" class="btn" style="padding: 0"><a href="/board" style="color:white; padding:10px 24px">취소</a></button>
      </div>
    </form>
  </div>

    </main>

    {% include 'components/footer.html' %}
</body>
</html>


