<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <title>3조 Main</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <main>
        <div class="dashboard">
            <!-- 왼쪽 열: 현재 진행 프로젝트 -->
            <div class="left-column">
                <div class="card project-progress">
                    <h3>현재 진행 프로젝트</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>기업</th>
                                <th>프로젝트명</th>
                                <th>담당자</th>
                                <th>진행율</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>{{ project["client"] }}</td>
                                <td>
                                    <a href="/projectDetail/{{project["_id"]}}">{{ project["title"] }}</a>
                                </td>
                                <td>{{ project["manager_name"] }}</td>
                                <td>
                                    <div class="progress-text"> {{ project["percentage"] }}% </div>
                                    <div class="progress-bar">
                                        <div class="fill" style="width: {{project["percentage"]}}%"></div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="right-column">
                <div class="card notice">
                    <h3>최신 글</h3>
                    <ul>
                        {% for b in board %}
                        {% if b["type"] == "자유" %}
                            <li><a href="board/{{ b["_id"] }}">{{b["title"]}}</a></li>
                        {% else %}
                            <li><a href="faq">{{b["title"]}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="card schedule">
                    <div class="schedule-body">
                        <h3>{{ today }}</h3>
                        <div class="schedule-divider"></div>
                        <button class="schedule-btn btn btn-blue" onclick="location.href='/timeline'">일정 관리</button>
                        <ul>
                            {% for key, value in timeline.items() %}
                            <li class="timeline-item">
                                <strong class="timeline-date">{{ key.split(" ")[1].split("일")[0] }}</strong>
                                <div class="timeline-content">
                                    <ul>
                                    {% for v in value %}
                                        <li class="timeline-title">{{ v["title"] }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
</body>

</html>