<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/my_page.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="{{ url_for('static', filename='js/my_page.js') }}" defer></script>
    <title>3조 Main</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <main>
        <div class="dashboard">
            <div class="card user-description">
                <div class="user-top">
                    <div class="user-image">Image</div>
                    <div class="user-details">
                        <h2>{{ user_info.name }}</h2>
                        <p>{{ user_info.department }} / {{user_info.role }}</p>
                    </div>
                    <a class="modify_btn">개인정보 수정</a>
                </div>
                <hr />
                <div class="user-bottom">
                    <div class="stat-left">
                        <span>예정 업무</span>
                        <strong> {{ todo|length }} </strong>
                    </div>
                    <div class="stat-center">
                        <span>담당 프로젝트</span>
                    </div>
                    <div class="stat-right">
                        <div>
                            <span>진행중/예정</span><strong>{{ doing|length }}</strong>
                        </div>
                        <div>
                            <span>완료</span><strong>{{ done|length }}</strong>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 근무 일정 -->
            <div class="card schedule">
                <h3>근무 일정</h3>
                <ul>
                    {% for p_time in personal_timeline %}
                        <li>
                            {% if p_time["start_date"] == p_time["end_date"] %}
                            <span class="date {{'purple' if p_time["type"] == '개인' else 'red'}}"> {{p_time["start_date"]}}<span class="text">{{ p_time.title }}</span></span>
                            {% else %}
                            <span class="date {{'purple' if p_time["type"] == '개인' else 'red'}}"> {{p_time["start_date"]}} ~ {{ p_time["end_date"] }} <span class="text">{{ p_time.title }}</span></span>
                            {% endif %}
                            <button class="btn btn-gray" onclick="location.href='/timeline?year={{p_time["end_date"].split("-")[0]}}&month={{p_time["end_date"].split("-")[1]}}&date={{p_time["end_date"]}}&schedule_id={{p_time["_id"]}}'">일정 보기</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- 내 업무 -->
            <div class="card tasks">
                <div class="task-header">
                    <h3>내 업무</h3>
                    <div class="task-actions">
                        <button class="btn btn-blue btn-edit">편집</button>
                        <button class="btn btn-blue btn-del">삭제</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th></th> <!-- 선택용 라디오 버튼 칼럼 -->
                            <th>업무 ID</th>
                            <th>업무</th>
                            <th>상태</th>
                            <th>마감일</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in todo %}
                            <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td name="task_id" value={{t["_id"]}}> {{ loop.index }}</td>
                            <td class="todo_content">{{ t["content"] }} </td>
                            <td>
                                <span class="status {{ t.status.lower().replace(' ', '') }}">
                                    <span class="dot"></span>
                                    {{ t.status }}
                                </span>
                            </td>
                            {% if t["end_date"] == "오늘" %}
                                <td><span class="task-date task-date-color"> {{ t["end_date"] }} </span></td>
                            {% else %}
                                <td><span class="task-date"> {{ t["end_date"] }} </span></td>
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form class="task-add" action="/mypage/add_task" method="post">
                    <input type="hidden" name="user_id" value={{user_info["_id"]}} />
                    <input name="date" id="task-date" type="date" />
                    <input name="content" type="text" placeholder="할 일 내용" />
                    <button type="submit" class="btn btn-blue">추가</button>
                </form>
            </div>

            <!-- 프로젝트 -->
            <div class="card projects">
                <h3>프로젝트</h3>
                <div class="project-tab-container">
                    <div class="project-tabs">
                        <button class="tab-btn active" data-tab="progress">진행중</button>
                        <button class="tab-btn" data-tab="complete">완료</button>
                        <button class="tab-btn" data-tab="other">그 외</button>
                    </div>

                    <div class="project-wrapper">
                        <!-- 진행중 콘텐츠 -->
                        <div class="project-tab-content active" id="progress">
                            {% for do in doing %}
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name"> {{ do.title }} </div>
                                    <button class="btn btn-blue" onclick="location.href='/projectDetail/{{do["_id"]}}'">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        {% for p_time in project_timeline %}
                                        {% if p_time["project_id"] == do["_id"] %}
                                        <li>
                                            <span class="task-id" value={{ p_time["_id"] }}>{{ loop.index }}</span>
                                            <span class="task-title">{{ p_time["title"] }}</span>
                                            <span class="status {{ p_time["status"].lower().replace(' ', '') }}"><span class="dot"></span> {{p_time["status"]}} </span>
                                            <span> {{p_time["end_date"]}} </span>
                                            <button class="btn btn-gray" onclick="location.href='/timeline?year={{p_time["end_date"].split("-")[0]}}&month={{p_time["end_date"].split("-")[1]}}&date={{p_time["end_date"]}}&schedule_id={{p_time["_id"]}}'">일정 보기</button>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- 완료 콘텐츠 -->
                        <div class="project-tab-content" id="complete">
                            {% for do in done %}
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name"> {{ do.title }} </div>
                                    <button class="btn btn-blue" onclick="location.href='/projectDetail/{{do["_id"]}}'">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        {% for p_time in project_timeline %}
                                        {% if p_time["project_id"] == do["_id"] %}
                                        <li>
                                            <span class="task-id" value={{ p_time["_id"] }}>{{ loop.index }}</span>
                                            <span class="task-title">{{ p_time["title"] }}</span>
                                            <span class="status {{ p_time["status"].lower().replace(' ', '') }}"><span class="dot"></span> {{p_time["status"]}} </span>
                                            <span> {{p_time["end_date"]}} </span>
                                            <button class="btn btn-gray" onclick="location.href='/timeline?year={{p_time["end_date"].split("-")[0]}}&month={{p_time["end_date"].split("-")[1]}}&date={{p_time["end_date"]}}&schedule_id={{p_time["_id"]}}'">일정 보기</button>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <!-- 외부 프로젝트 콘텐츠 -->
                        <div class="project-tab-content" id="other">
                            {% for a in all_projects %}
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name"> {{ a.title }} </div>
                                    <button class="btn btn-blue" onclick="location.href='/projectDetail/{{a["_id"]}}'">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        {% for o_time in other_timeline %}
                                        {% if o_time["project_id"] == a["_id"] %}
                                        <li>
                                            <span class="task-id" value={{ o_time["_id"] }}>{{ loop.index }}</span>
                                            <span class="task-title">{{ o_time["title"] }}</span>
                                            <span class="status {{ o_time["status"].lower().replace(' ', '') }}"><span class="dot"></span> {{o_time["status"]}} </span>
                                            <span> {{o_time["end_date"]}} </span>
                                            <button class="btn btn-gray" onclick="location.href='/timeline?year={{o_time["end_date"].split("-")[0]}}&month={{o_time["end_date"].split("-")[1]}}&date={{o_time["end_date"]}}&schedule_id={{o_time["_id"]}}'">일정 보기</button>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <div class="alert-box warning" style="display: none;">
        <div class="alert-message">수정/삭제할 항목을 선택해주세요.</div>
        <div class="alert-actions">
            <button class="btn cancel">취소</button>
            <button class="btn confirm">확인</button>
        </div>
    </div>
    {% include 'components/footer.html' %}
</body>

</html>