<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/my_page.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="{{ url_for('static', filename='js/my_page.js') }}" defer></script>
    <title>3조 Main</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <main>
        <div class="dashboard">
            <div class="card user-description">
                <div class="user-top">
                    <div class="user-image">Image</div>
                    <div class="user-details">
                        <h2>{{ user_info.name }}</h2>
                        <p>{{ user_info.department }} / {{user_info.role }}</p>
                    </div>
                </div>
                <hr />
                <div class="user-bottom">
                    <div class="stat-left">
                        <span>예정 업무</span>
                        <strong>8</strong>
                    </div>
                    <div class="stat-center">
                        <span>담당 프로젝트</span>
                    </div>
                    <div class="stat-right">
                        <div>
                            <span>진행중</span><strong>2</strong>
                        </div>
                        <div>
                            <span>완료</span><strong>2</strong>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 근무 일정 -->
            <div class="card schedule">
                <h3>근무 일정</h3>
                <ul>
                    <li>
                        <span class="date purple">2025.06.20 (금) <span class="text">연차</span></span><button
                            class="btn btn-gray">일정 보기</button>
                    </li>
                    <li>
                        <span class="date red">2025.06.25 (수) <span class="text">회사 창립 기념일</span></span> <button
                            class="btn btn-gray">일정 보기</button>
                    </li>
                    <li>
                        <span class="date red">2025.06.25 (수) <span class="text">회사 창립 기념일</span></span> <button
                            class="btn btn-gray">일정 보기</button>
                    </li>
                    <li>
                        <span class="date red">2025.06.25 (수) <span class="text">회사 창립 기념일</span></span> <button
                            class="btn btn-gray">일정 보기</button>
                    </li>
                    <li>
                        <span class="date red">2025.06.25 (수) <span class="text">회사 창립 기념일</span></span> <button
                            class="btn btn-gray">일정 보기</button>
                    </li>
                </ul>
            </div>

            <!-- 내 업무 -->
            <div class="card tasks">
                <div class="task-header">
                    <h3>내 업무</h3>
                    <div class="task-actions">
                        <button class="btn btn-blue btn-edit">편집</button>
                        <button class="btn btn-blue btn-del">삭제</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th></th> <!-- 선택용 라디오 버튼 칼럼 -->
                            <th>업무 ID</th>
                            <th>업무</th>
                            <th>상태</th>
                            <th>마감일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156863</td>
                            <td>유지보수</td>
                            <td>
                                <span class="status done">
                                    <span class="dot"></span>
                                    Done
                                </span>
                            </td>
                            <td><span class="task-date">오늘</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156873</td>
                            <td>유지보수</td>
                            <td>
                                <span class="status done">
                                    <span class="dot"></span>
                                    Done
                                </span>
                            </td>
                            <td><span class="task-date">오늘</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156873</td>
                            <td>유지보수</td>
                            <td>
                                <span class="status done">
                                    <span class="dot"></span>
                                    Done
                                </span>
                            </td>
                            <td><span class="task-date">오늘</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156873</td>
                            <td>유지보수</td>
                            <td>
                                <span class="status done">
                                    <span class="dot"></span>
                                    Done
                                </span>
                            </td>
                            <td><span class="task-date"><span class="task-date">오늘</span></span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156875</td>
                            <td>미팅</td>
                            <td>
                                <span class="status inprogress">
                                    <span class="dot"></span>
                                    In Progress
                                </span>
                            </td>
                            <td>2025.07.15</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="taskSelect" />
                            </td>
                            <td>#A101-156877</td>
                            <td>내부 회의</td>
                            <td>
                                <span class="status todo">
                                    <span class="dot"></span>
                                    To do
                                </span>
                            </td>
                            <td>2025.07.15</td>
                        </tr>
                    </tbody>
                </table>

                <div class="task-add">
                    <input id="task-date" type="date" />
                    <input type="text" placeholder="할 일 내용" />
                    <button class="btn btn-blue">추가</button>
                </div>
            </div>

            <!-- 프로젝트 -->
            <div class="card projects">
                <h3>프로젝트</h3>
                <div class="project-tab-container">
                    <div class="project-tabs">
                        <button class="tab-btn active" data-tab="progress">진행중</button>
                        <button class="tab-btn" data-tab="complete">완료</button>
                    </div>

                    <div class="project-wrapper">
                        <!-- 진행중 콘텐츠 -->
                        <div class="project-tab-content active" id="progress">
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name">B 프로젝트</div>
                                    <button class="btn btn-blue">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        <li>
                                            <span class="task-id">#A101-156873</span>
                                            <span class="task-title">유지보수</span>
                                            <span class="status done"><span class="dot"></span>Done</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                        <li>
                                            <span class="task-id">#A101-156876</span>
                                            <span class="task-title">UI 제작 발표</span>
                                            <span class="status inprogress"><span class="dot"></span>In Progress</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name">C 프로젝트</div>
                                    <button class="btn btn-blue">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        <li>
                                            <span class="task-id">#A101-156873</span>
                                            <span class="task-title">유지보수</span>
                                            <span class="status done"><span class="dot"></span>Done</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                        <li>
                                            <span class="task-id">#A101-156876</span>
                                            <span class="task-title">UI 제작 발표</span>
                                            <span class="status inprogress"><span class="dot"></span>In Progress</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- 완료 콘텐츠 -->
                        <div class="project-tab-content" id="complete">
                            <div class="project-container">
                                <div class="project-header-group">
                                    <div class="project-name">C 프로젝트</div>
                                    <button class="btn btn-blue">상세보기</button>
                                </div>
                                <div class="project-body" style="display: none;">
                                    <ul class="project-list">
                                        <li>
                                            <span class="task-id">#A101-156873</span>
                                            <span class="task-title">유지보수</span>
                                            <span class="status done"><span class="dot"></span>Done</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                        <li>
                                            <span class="task-id">#A101-156876</span>
                                            <span class="task-title">UI 제작 발표</span>
                                            <span class="status inprogress"><span class="dot"></span>In Progress</span>
                                            <span class="task-date">오늘</span>
                                            <button class="btn btn-gray">일정 보기</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
</body>

</html>