<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/list2.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>3조 Main</title>
</head>
<body>
  {% include 'components/nav.html' %}

  <main>
    <h2><span class="bar"></span> 새로운 프로젝트 추가</h2>
    <div class="container">

      <form class="project-form" action="/projectAdd" method="POST">
        <!-- 프로젝트 이름 -->
      <label>
        프로젝트 이름
        <input type="text" name="name" placeholder="프로젝트 이름을 입력하세요" required>
      </label>

      <!-- 클라이언트 -->
      <label>
        클라이언트
        <input type="text" name="client" placeholder="클라이언트를 입력하세요" required>
      </label>

            <!-- 담당자 선택 -->
      <label>
        담당자
      <select name="project_manager" required>
        <option value="" disabled selected>담당자를 선택하세요</option>
        {% for user in user_list %}
          <option value="{{ user['_id'] }}">{{ user['name'] }}</option>
        {% endfor %}
      </select>
      </label>

      <!-- 시작일 -->
      <label>
        시작일
        <input type="date" name="start" required>
      </label>

      <!-- 마감일 -->
      <label>
        마감일
        <input type="date" name="end" required>
      </label>
        <label>
          상태
          <select name="status">
            <option value="진행중">진행중</option>
            <option value="진행 대기" selected>진행 대기</option>
            <option value="완료">완료</option>
          </select>

        </label>
        <label for="description">설명</label>
        <textarea id="description" name="description" placeholder="메모를 입력하세요..." rows="8"></textarea>
        
        <div class="btns">
          <button type="submit">등록</button>
          <button type="button" onclick="window.location.href='/projectList'">취소</button>
        </div>
      </form>
    </div>
  </main>

  {% include 'components/footer.html' %}
</body>
</html>
