<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="../static/assets/css/teamMembersAdd.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <title>팀원 추가</title>
  </head>

  <body>
    {% include 'components/nav.html' %}
    <main class="container">
      <h2>|🗣 팀원 추가</h2>
      <form class="member-form" method="POST" action="{{ url_for('teamMemberAdd', project_id=project_id) }}">
        <input type="hidden" name="project_id" value="project_id" />
        <div id="member-fields">
          <div class="member-field">
            <label for="name">이름</label>
            <select name="_id" class="name-select" onchange="updateUserInfo(this)" required>
              <option value="" disabled selected>팀원을 선택하세요</option>
              {% for user in users %}
                <option value="{{ user._id }}">{{ user.name }}</option>
              {% endfor %}
            </select>

            <div class="member-info-box">
              <p class="email">이메일: 선택된 팀원이 없습니다.</p>
              <p class="role">역할: -</p>
              <p class="department">소속: -</p>
            </div>

            <label for="status">상태</label>
            <select name="status" class="status-select" required>
              <option value="참여중">참여중</option>
              <option value="대기">대기</option>
            </select>
          </div>
        </div>

        <div class="form-buttons">
          <button type="submit" class="btn btn-blue">등록 완료</button>
          <button type="button" class="btn btn-blue" onclick="addMemberField()">+ 팀원 추가</button>
          <button type="button" class="btn btn-blue" onclick="removeLastMemberField(this)">삭제</button>
          <button type="button" class="btn btn-blue" onclick="window.history.back()">뒤로가기</button>
        </div>
      </form>
    </main>
    <script>
      const users = {{ users | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/teamMemberAdd.js') }}"></script>
    {% include 'components/footer.html' %}
  </body>
</html>

{#
팀장을 제외한 팀원들을 select 에서 보여줍니다

팀원 추가 버튼을 누르면 팀원 추가 입력 필드를 보여줍니다.

const users = {{ users | tojson | safe }}; flask 에서 list인 users를 js 리스트로 변환해주는 역할

"팀원 추가" 버튼 클릭 시 addMemberField() 함수로 새로운 .member-field 입력 폼을 추가합니다.

"삭제" 버튼 클릭 시 removeLastMemberField() 함수로 가장 마지막에 추가한 팀원 입력 필드를 삭제합니다.

폼 제출하면 /teamMemberAdd/<project_id>에 POST 요청이 갑니다. 
#}
