<header>
    <h1 class="header-title" onclick="location.href='/'"><i class="fa-solid fa-building"></i> Team 3</h1>
    <div class="nav-box">
    <div class="nav-item" onclick="location.href='/projectList'"><i class="fa-solid fa-folder-open"></i><br>프로젝트</div>
    <div class="divider"></div>
    <div class="nav-item" onclick="location.href='/timeline'"><i class="fa-solid fa-calendar-days"></i><br>업무 일정</div>
    <div class="divider"></div>
    <div class="nav-item" onclick="location.href='/board'"><i class="fa-solid fa-chess-board"></i><br>게시판</div>
    <div class="divider"></div>
    <div class="nav-item" onclick="location.href='/mypage'"><i class="fa-solid fa-user-tie"></i><br>마이 페이지</div>
    <div class="user-info">
        {% if user_info %}
            <span><i class="fa-solid fa-user" style="margin-right: 5px"></i>{{user_info.name}}</span>
            <button class="join-btn">로그아웃</button>
        {% else %}
            <button class="join-btn" onclick="location.href='/login'">로그인</button>
            <button class="join-btn" onclick="location.href='/signup'">회원 가입</button>
        {% endif %}
    </div>
    </div>
</header>