<header>
    <h1 class="header-title"><i class="fa-solid fa-building"></i> Team 3</h1>
    <div class="nav-box">
    <div class="nav-item"><i class="fa-solid fa-folder-open"></i><br>프로젝트</div>
    <div class="divider"></div>
    <div class="nav-item"><i class="fa-solid fa-calendar-days"></i><br>업무 일정</div>
    <div class="divider"></div>
    <div class="nav-item"><i class="fa-solid fa-chess-board"></i><br>게시판</div>
    <div class="divider"></div>
    <div class="nav-item"><a href="{{ url_for('profile_edit') }}"><i class="fa-solid fa-user-tie"></i><br>마이 페이지</a></div>
    <div class="user-info">
        <span><i class="fa-solid fa-user"></i> Yerim</span>
        <div class="btn-group-vertical">
            <button class="join-btn">로그아웃</button>
            <button class="join-btn">회원 가입</button>
        </div>
    </div>
    </div>
</header>